---
title: A page for you
layout: base.njk
---

<div class="container">
    <h1>Hello World!</h1>
    <div class='quote'>YOU ARE A BAD ENGINEER - God</div>
    <div class="love">
        ❤️
    </div>
    <script src="/js/quotes.js"></script>
</div>